# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
data/
artifacts/

# Pytest
.pytest_cache/

# IDEs
.cursor/
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db
